In [1]:
from feature_explorer import data_dict

In [2]:
import pandas as pd

In [3]:
daily = pd.read_csv('daily.csv')

In [4]:
daily.head()

   Unnamed: 0   Total  PRCP  SNOW  SNWD  TMAX  TMIN  AWND  Total_yesterday
0  2012-10-04  3475.0     0     0     0   189    83    65           3521.0
1  2012-10-05  3148.0     0     0     0   217    89    57           3475.0
2  2012-10-06  2006.0     0     0     0   239    78    51           3148.0
3  2012-10-07  2142.0     0     0     0   239    78    13           2006.0
4  2012-10-08  3537.0     0     0     0   211    78    19           2142.0

In [5]:
data_dict(daily, daily['Total'])

,Datatype,Unique Values,Null Values,Cardinality,Correlation W/Target,Skew,Outlier Count,Outlier Values,Suspicious Count,Suspect Values
AWND,int64,76,0,76,-0.0580965,-32.4998,16.0,"{71, 72, 73, 76, 77, 79, 81, -9999, 88, 95}",8.0,"[88, -9999, 66, 77]"
PRCP,int64,98,0,98,-0.0890183,3.57236,0.0,None,2.0,[66]
SNOW,int64,6,0,6,0.00715107,-16.2322,0.0,None,4.0,[-9999]
SNWD,int64,3,0,3,-0.0115453,29.2068,0.0,None,0.0,None
TMAX,int64,65,0,65,0.303892,0.313213,0.0,None,0.0,None
TMIN,int64,52,0,52,0.265063,-0.251385,0.0,None,0.0,None
Total,float64,942,0,942,0.251208,0.281514,0.0,None,0.0,None
Total_yesterday,float64,942,0,942,0.249881,0.280203,0.0,None,0.0,None
Unnamed: 0,object,1063,0,1063,Non-Numeric,Non-Numeric,0.0,None,0.0,None